<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Warn" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %p %c{3} ::: %m%n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <RollingFile name="rollingLog"
                     append="false"
                     fileName="${APP_LOG_ROOT}/micropifs.log"
                     filePattern="${APP_LOG_ROOT}/archive/micropifs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1MB" />
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
        <RollingFile name="rollingAudit"
                     append="false"
                     fileName="${APP_LOG_ROOT}/micropifs-audit.log"
                     filePattern="${APP_LOG_ROOT}/archive/audit/micropifs-audit-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1MB" />
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="rollingLog" />
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="com.dm.micropifs.MicrocamPifs" level="debug" additivity="false">
            <AppenderRef ref="rollingLog" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="DataStore.Audit" level="debug" additivity="false">
            <AppenderRef ref="rollingLog" />
            <AppenderRef ref="rollingAudit" />
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>